.attribution {
    color: gray;
    text-align: center;
    font-size: x-small;
    font-family: "Courier New", Courier, monospace;
}

.open-source-code {
    color: gray;
    font-family: "Courier New", Courier, monospace;
    font-size: x-small;
}