input {
    width: 65%;
    display: inline-block;
    border: 1px solid slategray;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: x-small;
    padding: 3px;
}

.search-box {
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    font-size: 12px;
    color: slategray;
    border: white;
    background-color: white;
    border: 1px solid slategray;
    border-radius: 30px;
    transform: 120ms ease-in-out;
    padding: 1px 10px;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.7;
}