.units {
    font-size: 10px;
    position: relative;
    left: 8px;
    bottom: 16px;
    transition: all 120ms ease-in;
    font-weight: 100;
}

.units .active {
    color: white;
}

.units :hover {
    color: white;
    cursor: default;
    text-decoration: none;
}